#main-container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    gap:5px;
}

#main-container<div{
    border-width:3px;
    border-radius:5px;
}
#item1{
    grid-column-start:1 ;
    grid-column-end:4 ;
    background-color:rgb(255, 193, 226);
}
#item2{
    grid-row-start:2 ;
    grid-row-end:4 ;
    background-color: rgb(236, 165, 201);
}
#item3{
    background-color:rgb(253, 148, 204) ;
}
#item4{
    background-color: rgb(250, 135, 196);
}
#item5{
    background-color: rgb(252, 121, 190);
}
#item6{
    background-color: rgb(250, 135, 196);
}
#item7{
    background-color:rgb(253, 148, 204) ;
}
#item8{
    background-color: hotpink;
}
#item9{
    background-color: lightcoral;
}
